<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add" href="/tabs/add">
      <ion-icon aria-hidden="true" name="person-add-outline"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="week" href="/tabs/week">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Semana</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Historico</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
