<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Marquez</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!rentForm.valid" (click)="submitForm()">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alquiler</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="rentForm" #createForm="ngForm" (ngSubmit) = "createRent(rentForm.value)" >
    <ion-item>
      <ion-input label="DNI" labelPlacement="floating" type="text" formControlName="dni" name="dni"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nombre" labelPlacement="floating" type="text" formControlName="name" name="name"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email" name="email"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Telefono" labelPlacement="floating" type="tel" formControlName="phone" name="phone"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Domicilio" labelPlacement="floating" type="text" formControlName="address" name="address"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-datetime label="Fecha de reserva"
                    min="2023"
                    max="2030-12-31"
                    presentation="date"
                    [preferWheel]="true"
                    formControlName="reservationDate">
        <span slot="title">Fecha de reserva</span>
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input label="Un" labelPlacement="floating" type="text" formControlName="type" name="type"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Talle" labelPlacement="floating" formControlName="size">
        <ion-select-option *ngFor="let size of suitSizes" [value]="size">
          {{ size }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Modelo" labelPlacement="floating" type="text" formControlName="model" name="model"
                 required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Color" labelPlacement="floating" formControlName="color">
        <ion-select-option *ngFor="let color of suitColors" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="start" formControlName="shirt">Camisa</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="start" formControlName="tie">Corbata</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="start" formControlName="vest">Chaleco</ion-checkbox>
    </ion-item>

    <br>
    <ion-item>
      <ion-datetime label="Fecha de prueba"
                    min="2023"
                    max="2030-12-31"
                    presentation="date"
                    [preferWheel]="true"
                    formControlName="fittingDate">
        <span slot="title">Fecha de prueba</span>
      </ion-datetime>
    </ion-item>

    <br>
    <ion-item>
      <ion-datetime label="Fecha de entrega"
                    min="2023"
                    max="2030-12-31"
                    presentation="date"
                    [preferWheel]="true"
                    formControlName="deliveryDate">
        <span slot="title">Fecha de entrega</span>
      </ion-datetime>
    </ion-item>

    <br>
    <ion-item>
      <ion-datetime label="Fecha de devolucion"
                    min="2023"
                    max="2030-12-31"
                    presentation="date"
                    [preferWheel]="true"
                    formControlName="returnDate">
        <span slot="title">Fecha de devolucion</span>
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input label="Precio total" labelPlacement="floating" type="text" formControlName="price" name="price"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Anticipo" labelPlacement="floating" type="text" formControlName="advancePayment"
                 name="advancePayment"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Notas" labelPlacement="floating" type="text" formControlName="notes" name="notes"></ion-input>
    </ion-item>
  </form>
</ion-content>

